footer {
    color: #ffffff;
    padding: 10px 0;
    bottom: 0;
    width: 100%;
    height: 10%; /* 1/8 de la altura de la página */
    position: relative;
    z-index: 1; /* Ajusta según sea necesario */
}


#div-redes-sociales {
    position: relative;
    padding: auto;
    height: auto;
}

.social-icons img {
    width: 40px; /* Ajusta el ancho según sea necesario para hacer las imágenes más pequeñas */
    height: 40px; /* Ajusta la altura según sea necesario para mantener la proporción de la imagen */
    margin-right: 10px;
    border-radius: 50%; /* Para hacer que la imagen sea redonda */
}

.social-icons i {
    font-size: 20px;
    margin: 0 10px;
    color: #ffffff;
    transition: color 0.3s ease-in-out;
    width: 20px; /* Ajusta el ancho según sea necesario para hacer las imágenes más pequeñas */
    height: 20px; /* Ajusta la altura según sea necesario para mantener la proporción de la imagen */
    margin-right: 10px;
    border-radius: 50%; 
}

.social-icons i:hover {
    color: #ED0404; /* Color de resaltado al hacer hover (ajusta según sea necesario) */
}

.social-icons span {
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
}

.icons {
    padding: 20px;
    height: 20px;
}