#div-second {
    background-image: url('/kids.jpg'); /* Reemplaza '/tu-imagen.jpg' con la ruta de tu imagen */
    background-size: cover;
    background-position: top; /* Ajusta la posición de la imagen en la parte superior */
    height: 300px; /* Ajusta la altura del div según tus necesidades */
    width: 100%; /* O ajusta el ancho del div según tus necesidades */
    
}

h1 {
    color: #202020; /* Ajusta el color del texto para que sea legible sobre la imagen */
}

.content {
    width: auto;
    height: auto;
    padding: auto;
    position: relative;

}