.hover-color:hover {
    background-color: #ED0404; /*este color al deseado */
    color: #fff; /* Cambia este color al deseado */
    border-radius: 5px; /* Agrega un radio de borde (ajusta según sea necesario) */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
}

#icono {
    width: 20px; /* Ajusta el ancho según sea necesario para hacer las imágenes más pequeñas */
    height: 20px; /* Ajusta la altura según sea necesario para mantener la proporción de la imagen */
    border-radius: 50%; /* Para hacer que la imagen sea redonda */
}

header {
    top: 0;
    left: 0;
    width: 100%;
    position: fixed;
    height: min-content;
}