---
import Layout from "../layouts/Layout.astro";
import Navbar from "../components/Navbar.astro";
import Footer from "../components/footer.astro";
---
<Layout>
    <Navbar/>
    <h1>ABOUT</h1>
    <Footer/>
</Layout>
