---
import Layout from "../layouts/Layout.astro";
import Navbar from "../components/Navbar.astro";
import Footer from "../components/footer.astro";
import Card from "../components/Card.astro";
import '../styles/index.css';

---
<Layout>
	<Navbar/>
	<div class="header_img" id="div-second"></div>
		<div class="container-fluid ml-auto content" style="text-align: center;">
			<div class="row animated slideInUp animated-active">
				<div class="col-md-8 col-md-offset-2 text-center">
					<h3>Somos una entidad sin ánimo de lucro, establecida en Colombia especificamente en la ciudad de cartagena de indias, cuyo objetivo es contribuir en la formación de niños y jóvenes de escasos recursos a través de la educación y el deporte.</h3>
				</div>
				<div class="col-md-8 col-md-offset-2">
					
				</div>
			</div>
		</div>
	<Card/>
	<Footer/>
</Layout>

