---


---
<div class="container">
    <div class="card border-danger">
        <div class="card-header bg-danger text-white">
            Encabezado de la Tarjeta
        </div>
        <div class="card-body">
            <p class="card-text">Contenido del cuerpo de la tarjeta.</p>
        </div>
        <div class="card-footer bg-danger text-white">
            Pie de la Tarjeta
        </div>
    </div>
</div>
