---
import '../styles/footer.css';

---

<footer class="bg-success">
    <div class="container" id="div-redes-sociales">
        <div class="row" >
            <div class="col-md-6">
                <h5>Redes Sociales</h5>
                <div class="social-icons">
                    <a class="icons" href="#" target="_blank">
                        <img src="/facebook.ico" alt="Facebook">
                        <i class="fab fa-facebook">FACEBOOK</i>
                    </a><br/>
                    <a class="icons" href="#" target="_blank">
                        <img src="/whatsapp.ico" alt="Whatsapp">
                        <i class="fab fa-whatsapp">WHATSAPP</i>
                    </a><br/>
                    <a class="icons" href="#" target="_blank">
                        <img src="/instagram.ico" alt="Instagram">
                        <i class="fab fa-instagram">INSTAGRAM</i>
                    </a><br/>
                    <!-- Agrega más enlaces a otras redes sociales según sea necesario -->
                </div>
            </div>
            <div class="col-md-6">
                <h5>Contacto</h5>
                <p><i class="fas fa-envelope"></i> contacto@tusitio.com</p> 
                <p><i class="fas fa-phone"></i> +123 456 789</p>
            </div>
        </div>
        <div id="map"></div>
        <hr>
        <div class="row">
            <div class="col-md-10 mx-auto" style="text-align: center">
                <p>
                    <img src="/logo.png" alt="FUNDEREACTG" height="50">
                    &copy; 2024 FUNREDEACTG
                </p>
            </div>
        </div>
    </div>
</footer>