---
import '../styles/navbar.css'
---
<header>
    <nav class="navbar navbar-expand-lg navbar-light bg-success">
        <div class="container-fluid ml-auto" style="text-align: center;">
            <a class="navbar-brand" href="/">
                <img src="/logo.png" alt="FUNDEREACTG" style="height: 70px; width: auto;">
            </a>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item hover-color font-weight-bold">
                        <div class="container col-md-12 d-flex align-items-center">
                            <img id="icono" class="nav-img mr-2" src="/home.ico">
                            <a class="nav-link" href="/">INICIO</a>
                        </div>
                    </li>
                    <li class="nav-item hover-color font-weight-bold">
                        <div class="container col-md-12 d-flex align-items-center">
                            <img id="icono" class="nav-img mr-2" src="/pregunta.ico">
                            <a class="nav-link" href="#">QUIENES SOMOS?</a>
                        </div>
                    </li>
                    <li class="nav-item hover-color font-weight-bold">
                        <div class="container col-md-12 d-flex align-items-center">
                            <img id="icono" class="nav-img mr-2" src="/about.ico">
                            <a class="nav-link" href="/about">HISTORIA</a>
                        </div>
                    </li>
                    <li class="nav-item hover-color font-weight-bold">
                        <div class="container col-md-12 d-flex align-items-center">
                            <img id="icono" class="nav-img mr-2" src="/proyecto.ico">
                            <a class="nav-link" href="/contact">PROGRAMAS</a>
                        </div>
                    </li>
                    <li class="nav-item hover-color font-weight-bold">
                        <div class="container col-md-12 d-flex align-items-center">
                            <img id="icono" class="nav-img mr-2" src="/voluntario.ico">
                            <a class="nav-link" href="/contact">VOLUNTARIADO</a>
                        </div>
                    </li>
                    <li class="nav-item hover-color font-weight-bold">
                        <div class="container col-md-12 d-flex align-items-center">
                            <img id="icono" class="nav-img mr-2" src="/contacto.ico">
                            <a class="nav-link" href="/contact">CONTACTENOS</a>
                        </div>
                    </li>
                </ul>
            </div>
            <button type="button" class="btn btn-outline-danger">
                <img id="icono" class="nav-img mr-2" src="/corazon.ico">
                AYUDANOS
            </button>
        </div>
    </nav>
</header>